nav{
  height: 60px;
}
.navbar-brand{
  font-family: 'Lexend Peta', sans-serif;
  font-size: 30px;
}
nav .nav-item a{
  transition-duration: .5s;
}
nav .nav-item a:hover{
  transform: scale(1.1);
  transition-duration: .5s;
}

.parallax {
  /* The image used */
  background-image: url('mainphoto.jpg');
  /* Set a specific height */
  height: 1000px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax p{
  position: absolute;
  font-family: 'Kaushan Script', cursive;
  font-size: 150px;
  margin-top: 120px;
  text-shadow: black 1px 1px 2px;
}

.container{
  min-height: 1000px;
}

.footer-content{
  height: 250px;
}

@media screen and (max-width: 600px){
  .parallax {
    height: 700px;
  }
  .parallax p{
    font-size: 100px;
  }
}

@media screen and (max-width: 420px){
  .parallax {
    height: 600px;
  }
  .parallax p{
    font-size: 80px;
  }
  .navbar-brand{
    font-size: 25px;
  }
}